.table {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  height: 455px;
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.3rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table tr:nth-of-type(even) {
  background-color: #222831;
  color: white;
}
